# [作業目標]

1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

3. 假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

# 作業

### 1. 請建立類似提供結果的 DataFrame：

```
#    Apples  Bananas
# 0      30       21

#             Apples  Bananas
# 2017 Sales      35       21
# 2018 Sales      41       34

```

In [2]:
# 記得先 Import 正確的套件

import numpy as np 
import pandas as pd

In [6]:
import numpy as np 
import pandas as pd
ac= pd.DataFrame({"Apples": [30],
                  "Bananas": [21]})
print(ac)
bc = pd.DataFrame([[30, 21], [41, 34]], index=["2017 Sales", "2018 Sales"], columns=["Apples", "Bananas"])
print(bc)

   Apples  Bananas
0      30       21
            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

### 2. 請問如果現在有一個 DataFrame 如下，請問資料在 Python 中可能長怎樣？

```
#      city  visitor weekday
# 0  Austin      139     Sun
# 1  Dallas      237     Sun
# 2  Austin      326     Mon
# 3  Dallas      456     Mon
```

In [7]:

df = pd.DataFrame([["Austin", 139, "Sun"], ["Dallas", 237, "Sun"], 
                   ["Austin", 326, "Mon"], ["Dallas", 456, "Mon"]], 
                  columns=["city", "visitor", "weekday"])
df

     city  visitor weekday
0  Austin      139     Sun
1  Dallas      237     Sun
2  Austin      326     Mon
3  Dallas      456     Mon

### 3. 承上題，假設你想知道每個 weekday 的平均 visitor 數量，可以怎麼做？

In [8]:

sun = df[df.weekday == "Sun"]["visitor"].mean()
mon = df[df.weekday == "Mon"]["visitor"].mean()
print("Average visitors on Sun. : ", sun)
print("Average visitors on Mon. : ", mon)

Average visitors on Sun. :  188.0
Average visitors on Mon. :  391.0